334ch/includes/aa/internal/Resources/schemas/koala/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   <xs:element name="settings">
     <xs:complexType>
       <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="setting" type="setting"/>
       </xs:sequence>
     </xs:complexType>
   </xs:element>
  
   <xs:complexType name="setting">
     <xs:simpleContent>
       <xs:extension base="xs:string">
         <xs:attribute name="key" type="xs:string" use="required" />
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>
  
</xs:schema>
