334ch/includes/aa/internal/Resources/schemas/koala/updates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   <xs:element name="updates">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="update" type="update">
         </xs:element>
       </xs:sequence>
     </xs:complexType>
   </xs:element>

  <xs:complexType name="update">
    <xs:attribute name="time" type="xs:unsignedInt" use="required" />
    <xs:attribute name="available" type="xs:boolean" use="required" />
  </xs:complexType>
  
</xs:schema>
