334ch/includes/aa/internal/Resources/schemas/koala/warranty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   <xs:element name="warranty">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="enddate" type="timestamp">
         </xs:element>
       </xs:sequence>
     </xs:complexType>
   </xs:element>

  <xs:complexType name="timestamp">
    <xs:attribute name="time" type="xs:unsignedInt" use="required" />
  </xs:complexType>
  
</xs:schema>
